<footer>
    <div>Created With Love &#x1F496;. Special Thanks to <a href="https://naruto.fandom.com/wiki/Itachi_Uchiha">Naruto
            Fandom</a> for Useful Information</div>
    <h3>You Can Support us On these Platforms by following Us.</h3>
    <div>
        <i class="fa fa-github fa-2x" style="color:salmon;"></i>
        <i class="fa fa-facebook fa-2x" style="color:salmon;"></i>
        <i class="fa fa-instagram fa-2x" style="color:salmon;"></i>
        <i class="fab fa-npm fa-2x" style="color:salmon;"></i>
    </div>
</footer>