<footer>
    <div>Created With Love &#x1F496;. Special Thanks to <a href="https://naruto.fandom.com/wiki/Itachi_Uchiha">Naruto
            Fandom</a> for Useful Information</div>
    <h3>You Can Support us On these Platforms by following Us.</h3>
    <div>
        <a href="https://www.github.com/sarveshtheabstractor"><i class="fa fa-github fa-4x"
                style="color:#337ab7;"></i></a>

        <a href="https://www.npmjs.com/~sarveshhiwase"> <i class="fab fa-npm fa-4x" style="color: orange;"></i></a>
    </div>
</footer>