<nav>
    <div class="flex">
        <img src="https://vignette.wikia.nocookie.net/naruto/images/6/64/Favicon.ico/revision/latest?cb=20141014010210">
        <a href="/" class="siteicon">aruto API</a>
    </div>

    <form class="forms" id="form">
        <span>
            <i class="fa fa-search"></i>
        </span>
        <input id="search" type="search" placeholder="Search Naruto Characters for ex- itachi, naruto" name="search">
        <button type="submit">Search</button>
    </form>
    <div class="signers">
        <a href="/about" class="signup">About</a>
        <a href="/help" class="signin">Help</a>
    </div>
</nav>