.container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 3rem;
  /* opacity: 0.5; */
}

h1 {
  font-weight: 700;
}

h2 {
  margin-bottom: 2rem;
}

h3 {
  margin-bottom: 1.5rem;
}

h4 {
  margin-bottom: 1rem;
  margin-top: 2rem;
  font-size: 1.8rem;
}

ul {
  margin-bottom: 2rem;
  padding-left: 2rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.twitter {
  display: flex;
  align-items: center;
}

.twitter img {
  height: 2.2rem;
  margin-right: 0.7rem;
}

.twitter a:link,
.twitter a:visited {
  font-size: 1.7rem;
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}

table {
  border-collapse: collapse;
  margin-bottom: 2rem;
  text-align: left;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 1.5rem;
}

code {
  background-color: #ffd08a;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: inline-block;
  margin-bottom: 2rem;
  margin-left: 3px;
  transition: color 0.2s;
}

code a:link,
code a:visited {
  color: inherit;
  text-decoration: none;
}

code a:hover {
  color: #3d505a;
}

.bold {
  font-weight: 700;
}

.allowed-methods {
  margin-bottom: 1.5rem;
}

.description {
  margin-bottom: 1.5rem;
}

.divider {
  margin-bottom: 3rem;
}

.highlighted-text {
  background-color: #ffd08a;
  padding: 0.2rem;
  border-radius: 0.5rem;
}

.search-queries-link:link,
.search-queries-link:visited {
  color: #0352fc;
}

.phrases-title {
  margin-top: 50px;
}

.phrases-list {
  margin-bottom: 50px;
}

.phrases-list li {
  margin-bottom: 10px;
}

.btn {
  display: block;
  margin-top: 2.5rem;
  margin-bottom: 4rem;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: #fff;
  background-color: #f54260;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background-color: #e33d59;
}

.api-key-container {
  padding: 1rem;
  background-color: #e8e8da;
  border-radius: 0.5rem;
  display: inline-block;
  margin-bottom: 4rem;
  font-weight: 500;
}

.api-key-container-title {
  display: block;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

.http-method-label {
  display: inline-block;
  text-align: center;
  padding: 3px;
  background-color: #d0dad2;
  border-radius: 5px;
  text-transform: uppercase;
  margin-right: 5px;
}

.http-method-label:first-of-type {
  margin-left: 3px;
}
