<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sarvesh API</title>
</head>

<body>
    <h1>Welcome to Naruto API</h1>
    <form id="SearchForm">
        <input type="text" name="Character" placeholder="Enter Character" id="charac">
        <input type="submit" value="Get Details">
    </form>
    <div>
        <p id="Data"></p>
    </div>
    <script src="index.js"></script>
</body>

</html>