<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Naruto For Life | API</title>
    <link rel="shortcut icon"
        href="https://vignette.wikia.nocookie.net/naruto/images/6/64/Favicon.ico/revision/latest?cb=20141014010210"
        type="image/x-icon">
    <link rel="stylesheet" href="style.css" />
    <script src="index.js" defer></script>
</head>

<body>
    <form id="form">
        <input type="text" id="search" placeholder="Search a Naruto Character" />
    </form>
    <main id="main"></main>

    <footer>
        <h4>Created With Love ❤. Special Thanks to <a href="https://naruto.fandom.com/wiki/"></a> to provide Useful
            Information.</h4>
    </footer>
</body>

</html>