<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Naruto For Life | API</title>
    <link rel="shortcut icon"
        href="https://vignette.wikia.nocookie.net/naruto/images/6/64/Favicon.ico/revision/latest?cb=20141014010210"
        type="image/x-icon">
    <link rel="stylesheet" href="style.css" />
    <script src="https://kit.fontawesome.com/ae353bb49a.js" crossorigin="anonymous"></script>
    <script src="index.js" defer></script>
</head>

<body style="display: flex;
  flex-direction: column;
  min-height: 100vh;">
    <div style="flex-grow: 1;">
        {{>header}}

        <div id="main" class="flex"></div>
    </div>
    {{>footer}}

</body>

</html>