@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
* {
  box-sizing: border-box;
  font-family: "Fira Code", monospace;
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  box-shadow: 4px 4px 5px #f3f3f3;
}

.forms {
  display: flex;
  flex-grow: 0.7;
  justify-content: center;
  background-color: #f2f2f2;
}
.forms input[type="search"] {
  width: 90%;
}
.forms span,
input {
  padding: 15px;
}
.forms span {
  color: grey;
}
.forms input,
button {
  border: none;
  background-color: #f2f2f2;
  outline: none;
}
.forms button {
  background-color: black;
  color: white;
  padding: 0px 15px;
  font-weight: bold;
}
.signup,
.signin {
  padding: 20px;
  font-size: 24px;
}
.siteicon {
  font-weight: bold;
  font-size: 24px;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.column {
  flex-direction: column;
  padding: 10px;
}

footer {
  text-align: center;
  border: 1px solid gainsboro;
  padding: 10px;
  background-color: #f1f1f1;
}
footer i {
  margin: 5px 10px;
}
#load img {
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  height: 128px;
  width: 128px;
  margin: auto;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#main {
  padding: 10px;
}

.avatar {
  border: 5px solid whitesmoke;
  border-radius: 50%;
  height: 156px;
  width: 156px;
  object-fit: cover;
}

.characinfo {
  background-color: #2a2a72;
  border-radius: 5px;
  display: inline-block;
  color: white;
  font-size: 0.7rem;
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .signers {
    order: 2;
  }
  .forms {
    order: 3;
    flex-grow: 3;
    margin-top: 20px;
  }
  .forms input[type="search"] {
    width: 90%;
  }
  .signup,
  .signin {
    font-size: 16px;
  }
  .siteicon {
    font-size: 16px;
  }
}
